<div class="card">
    <h1>{{ recipe.title }}</h1>
    {{ recipe.has_tags.all }}
    {% for tag in recipe.has_tags.all %}
        <div class="chip">
            {{ tag.name }}
        </div>
    {% endfor %}
    {% for tag in recipe.has_ingredients.all %}
        <div class="chip">
            {{ tag.name }}
        </div>
    {% endfor %}
    <div class="button_zone">
        <a href="{% url 'recettes:detail' recipe.id %}">
            <button class="btn-grad">Lire plus</button>
        </a>
    </div>
</div>