<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'recettes/animation.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'recettes/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recettes/color.css' %}">
    <script src="https://kit.fontawesome.com/f0c5800638.js" crossorigin="anonymous"></script>
</head>

<header>
    <h1 class="title">Recettes</h1>
</header>
{% include "./burger.html" %}
<div class="option">
    <form class="filtering" action="{% url 'recettes:index' %}" method="post" id="FilterForm">
    {% csrf_token %}
        <div class="checkFilter">
            {% for tag in tags %}
                <div class="chip">
                    <input type="checkbox" name="filter" value="{{ tag }}" class="optionCheck">{{ tag }}
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Filtrer" class="optionSubmit">
    </form>
    <form class="search" action="{% url 'recettes:index' %}" method="post" id="search">
        {% csrf_token %}
        <input type="text" name="search" placeholder="Rechercher une recette" class="optionSearch">
        <button type="submit" class="optionSubmit"><i class="fa-solid fa-search"></i></button>
    </form>
    <form class="search" action="{% url 'recettes:index' %}" method="post" id="sorting">
        {% csrf_token %}
        <select name="filterDir" class="optionSelect">
            <option value="pub_date">Par la date de publication</option>
            <option value="title">Par nom</option>
        </select>
        <input type="submit" value="Trier" class="optionSubmit">
    </form>
</div>
