:root {
    --color-primary: #89ABD9;
    --color-secondary: #183B59;
    --color-tertiary: #DAF2B6;
    --color-quaternary: #BF895A;
    --color-quinary: #D9D0C7;
}


.filter {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.card, .navbar, .option form, .detail, .about {
    background-image: linear-gradient(to top, #D9D0C7 30%, #e2ebf0 100%);
}

.chip {
    background-color: var(--color-tertiary);
}